@model Atividades.Models.Atividade

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<h4>Atividade</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsavel" class="control-label"></label>
                <input asp-for="Responsavel" class="form-control" />
                <span asp-validation-for="Responsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setor" class="control-label"></label>
                <input asp-for="Setor" class="form-control" />
                <span asp-validation-for="Setor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="@Model.CategoriaId" asp-items="@ViewBag.Categoria" class="form-control border-input"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Solicitante" class="control-label"></label>
                <input asp-for="Solicitante" class="form-control" />
                <span asp-validation-for="Solicitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Narrativa" class="control-label"></label>                
                <textarea asp-for="Narrativa" class="form-control" text-wrap:normal type="text" placeholder="Please add your experience here" rows="10"></textarea>
                <span asp-validation-for="Narrativa" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
